# Must import here to make ID_NET_NAME_PATH available to program
IMPORT{builtin}="net_id"

# Rule to rename Mellanox devices
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="mlx5_core", PROGRAM="/sbin/gce-nic-naming", NAME="%c"

# Rule to rename RDMA devices
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="idpf", PROGRAM="/sbin/gce-nic-naming", NAME="%c"
