#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
# Install both packages if Trixie; only build guest-configs if not.
ifeq ($(TARGET_VERSION),trixie)
	dh_install --sourcedir=src
else
	dh_install --sourcedir=src -p google-compute-engine
endif

override_dh_testdir:
# Excplicitly include the Trixie config in non-Trixie builds so
# that it does not create an empty package.
ifeq ($(TARGET_VERSION),trixie)
	dh_testdir
else
	sed -i '/^Package: gce-configs-trixie$$/,/^$$/d' debian/control
	dh_testdir
endif
